body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: #202124;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.rounded {
  border-radius: 50px;
}

.list-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  border-radius: 50%;
  padding: 5px;
}

.list-icon:hover {
  background-color: lightgray;
  transition: all 0.7s ease;
}

.ic-red:hover {
  color: red;
}

.ic-green:hover {
  color: green;
}
.ic-blue:hover {
  color: blue;
}

.light-gray {
  color: rgba(0, 0, 0, 0.26);
}

.add-icon:hover {
  transition: all 0.5s ease;
  transform: scale(1.2);
}
