body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: #202124;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.rounded {
  border-radius: 50px;
}

.list-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  border-radius: 50%;
  padding: 8px !important;
}

.modal-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  border-radius: 50%;
  padding: 8px !important;
}

.list-icon:hover {
  background-color: lightgray;
  transition: all 0.7s ease;
}

.ic-red:hover {
  color: red;
}

.ic-green:hover {
  color: green;
}
.ic-blue:hover {
  color: blue;
}

.light-gray {
  color: rgba(0, 0, 0, 0.26);
}

.add-icon:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.EditItemModal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 0px;
  border: 0px;
  border-radius: 50px;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

h5 {
  font-size: 24px;
}

input {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  font-size: 24px !important;
}
